{% extends 'ecom/customer_base.html' %}
{% load static %}

{% block content %}
<head>

</head>
<style media="screen">

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
</style>
<h1>pul to'lomoqchi bo'lsangiz bizga habar jo'nating</h1>
<a href="https://t.me/Uchiha_Javohir">Telegram</a>
<a href="/payment-success" class="btn btn-success btn-lg btn-block" role="button">Tasdiqlash</a>
<h1>Tasdiqlash tugmasini bosing bizni adminimizga yetib borishi uchun</h1>


{% endblock content %}
